.form-container {
  margin-top:20px;
  border:solid grey 1px;
  border-radius: 10px;
  font-family: Courier, "Lucida Console", monospace;
}
.input-box {
  border-radius: 2px;
  border:solid 1px #b6a9a9;
  font-size: 13px;
  padding:3px;
  width:174px;
  color:black;
}
.input-box:focus{
  border-radius: 2px;
}
.form-table {
  margin:50px;
  margin-top:10px;
}
.label {
  border-bottom:solid black 1px;
}
.row-input{
  height:30px;
}
.row-error {
  height: 14px;
  padding:0;
}
.input-message {
  color:green;
  padding:4px;
}
.input-label {
  padding:10px;
  width:255px;
}

.input-error {
  color: red;
  font-size: 10px;
}
.table-label {
  font-size: 20px;
  font-weight: 800;
}
#region-input , #town-input{
  color: gray;
  background-color: whitesmoke;
}

.gender {
  display:inline-block;
}

.gender-label {
  display:inline-block;
}
.form-header {
  text-align: center;
}

.table-header{
  font-weight: 600;
  padding-left: 40px;
}

.send-button {
  float:right;
margin:10px;
  border-radius: 2px;
  border:solid #b6a9a9 1px;
  padding:2px 8px;
}